.dark-theme {

    header {
        background-color: $color-blue-soft;
        color           : $color-light;

        .header__theme-icon {
            filter      : invert(1);
        }
    }

    main {
        background-color: $color-blue-dark;
        color           : $color-light;

        #input::placeholder {
            color: $color-light;
        }

        #input,
        #select {
            color           : $color-light;
            background-color: $color-blue-soft;
            border-bottom   : 1px solid $color-gray;
        }

        .countrys-container {
            .list-pages {
                &__item {
                    color       : $color-light;
                    border-color: $color-light;

                    &:hover {}
                }
            }

            .list-countries {
                .country {
                    background-color: $color-blue-soft;

                    .btn-more-details {
                        background-color: $color-blue-soft;
                        color           : $color-light;
                        border-color    : $color-light;
                        font-weight     : $font-w-b;

                        &:hover {
                            background-color: $color-gray-light;
                            color           : $color-dark;
                        }
                    }
                }
            }

        }
    }

    .card-header {
        background-color: $color-blue-soft;

        &__close {
            filter: invert(1);
        }

    }

    .card-body,
    .card-content {
        background-color: $color-blue-dark;
        color           : $color-light;
    }

    .card-body {
        &__border {
            &-info {
                p {
                    &:hover {
                        cursor          : pointer;
                        background-color: $color-gray-light;
                        color           : $color-dark;
                    }
                }
            }
        }

        hr {
            background-color: $color-light;
        }
    }
}