header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 10px;
    z-index        : 0;

    .dark-theme {
        background-image: url('../assets/icons/bxs-sun.svg');
    }

    .light-theme {
        background-image: url('../assets/icons/bxs-moon.svg');
    }

    .header {
        &__title {
            font-size: $font-s-title;
        }


        &__theme-icon {
            background-size    : auto;
            background-repeat  : no-repeat;
            background-position: center;
            height             : 30px;
            width              : 45px;
            border             : 1px solid $color-gray;
            padding            : 5px 10px;

            border-radius: 10px;

            &:hover {
                background-color: $color-gray;
                filter          : invert(1);
            }
        }
    }
}